# Limpieza de Datos: Ataque de tiburones
La misión del Global Shark Attack File es proporcionar datos actuales e históricos sobre las interacciones entre humanos y tiburones para aquellos que buscan información precisa, significativa y referencias verificables. 

Los humanos no están en el menú de los tiburones. Los tiburones muerden a los humanos por curiosidad o para defenderse.


- Se define un **incidente provocado** como uno en el que el tiburón fue atravesado, enganchado, capturado o en el que un ser humano extrajo "primera sangre". Sabemos que un ser humano vivo rara vez es percibido como presa por un tiburón. Muchos incidentes están motivados por la curiosidad, otros pueden ocurrir cuando un tiburón percibe a un humano como una amenaza o un competidor por una fuente de alimento, y podrían clasificarse como "provocados" cuando se examinan desde la perspectiva del tiburón. 

- **Incidentes que involucran embarcaciones**: los incidentes en los que un barco fue mordido o embestido por un tiburón están en verde. Sin embargo, en los casos en los que el tiburón fue enganchado, enredado o amarrado, la entrada es naranja porque se clasifican como incidentes provocados. 

- **Incidentes cuestionables**: incidentes en los que no hay datos suficientes para determinar si la lesión fue causada por un tiburón o si la persona se ahogó y el cuerpo fue luego devorado por los tiburones

Fuente: https://sharkattackfile.net/

In [3]:
import pandas as pd
import numpy as np
from dataprep.clean import clean_date

In [4]:
attacks = pd.read_csv('https://raw.githubusercontent.com/PPereyraAN/Cursos/main/attacks.csv',encoding = 'latin-1', sep = "|")
attacks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Oceanside| San Diego County,Paddling,Julie Wolfe,F,...,White shark,R. Collier| GSAF,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,St. Simon Island| Glynn County,Standing,Adysonï¿½McNeely,F,...,NaN,K.McMurray| TrackingSharks.com,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Habush| Oahu,Surfing,John Denges,M,...,NaN,K.McMurray| TrackingSharks.com,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,B. Myatt| GSAF,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Tiger shark| 3m,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Analisamos el dataset y atacando en primera instancia los valores nulos

In [5]:
attacks.shape

(25723, 24)

In [6]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
attacks.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

porcentaje de valores nulos por columna

In [8]:
def nullPercentagePerColunm():
    return round((attacks.isna().sum()*100/attacks.shape[0]).sort_values(ascending=False),3)

Observamos que la cantidad de nulos por columna en todos los casos supera mas del 50%

In [9]:
#eliminamos las columnas que tienen casi un 100% de valores nulos
attacks.drop(axis=1,labels=["Unnamed: 22","Unnamed: 23"],inplace=True)

In [10]:
#eliminamos las filas nulas
attacks.dropna(axis=0,how="all",inplace=True)

In [11]:
attacks.shape

(8703, 22)

In [12]:
nullPercentagePerColunm()

Time                      66.127
Species                   60.198
Age                       60.117
Sex                       34.080
Activity                  33.839
Location                  33.793
Fatal (Y/N)               33.781
Area                      32.816
Name                      30.001
Country                   28.163
Injury                    27.910
Investigator or Source    27.784
Type                      27.634
Year                      27.611
href formula              27.600
Date                      27.588
Case Number.2             27.588
pdf                       27.588
href                      27.588
Case Number.1             27.588
original order            27.508
Case Number                0.011
dtype: float64

In [13]:
#eliminamos todas las filas que tengan un porcentaje de nulos mayor o igual al 80%
PERCENTAGE = int(round(80*attacks.shape[1]/100,0))
attacks.dropna(axis=0,inplace=True,thresh=PERCENTAGE)

In [14]:
nullPercentagePerColunm()

Time                      50.085
Species                   42.935
Age                       41.181
Fatal (Y/N)                7.542
Activity                   5.941
Sex                        5.737
Location                   5.346
Area                       4.086
Name                       1.055
Investigator or Source     0.221
Country                    0.170
Injury                     0.136
Year                       0.034
href formula               0.017
Case Number                0.017
Type                       0.017
Date                       0.000
pdf                        0.000
href                       0.000
Case Number.1              0.000
Case Number.2              0.000
original order             0.000
dtype: float64

Reducimos bastante el procentaje de nulos

In [15]:
attacks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,Oceanside| San Diego County,Paddling,Julie Wolfe,F,...,N,18h00,White shark,R. Collier| GSAF,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,St. Simon Island| Glynn County,Standing,Adysonï¿½McNeely,F,...,N,14h00 -15h00,NaN,K.McMurray| TrackingSharks.com,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Habush| Oahu,Surfing,John Denges,M,...,N,07h45,NaN,K.McMurray| TrackingSharks.com,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,B. Myatt| GSAF,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,Tiger shark| 3m,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

#### Analizamos columnas 
analizamos que datos nos van a ser realmente utiles (esto es muy subjetivo dependiendo
de lo que se desee hacer con los datos), en mi caso los voy a preparar para que un analista pueda sacar concluciones de ellos, por ende es conveniente quedarnos con valores numericos, calificaciones de casos y datos de relevancia para dicho analisis

In [16]:
attacks.shape

(5874, 22)

In [17]:
#se repiten bastantes columnas de fechas vamos a quedarnos con la que tenga menos variacion en el formato
#cambiamos los datos a date y verifiamcos cuantos casos nos qedan nullos así sabemos con cual de todas las fechas
#quedarnos
for date in ["Date","Case Number","Case Number.1","Case Number.2"]:
    print("cantidad de nulls en",date,":",pd.to_datetime(attacks[date],errors="coerce").isna().sum())

cantidad de nulls en Date : 684
cantidad de nulls en Case Number : 2222
cantidad de nulls en Case Number.1 : 2220
cantidad de nulls en Case Number.2 : 2222

In [18]:
#nos quedamos con la columna de fechas DATE ya que tiene menos cantidad de fechas nulas
attacks.drop(axis = 1,inplace=True,labels=["Case Number","Case Number.1","Case Number.2"])

In [19]:
attacks.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,original order
0,25-Jun-2018,2018.0,Boating,USA,California,Oceanside| San Diego County,Paddling,Julie Wolfe,F,57,No injury to occupant| outrigger canoe and pad...,N,18h00,White shark,R. Collier| GSAF,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,St. Simon Island| Glynn County,Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,K.McMurray| TrackingSharks.com,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Habush| Oahu,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,K.McMurray| TrackingSharks.com,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,B. Myatt| GSAF,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,Tiger shark| 3m,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0

In [20]:
#eliminamos las columnas de pdfs que no nos van a servir par anada en nuestro analisis
attacks.drop(columns=["href formula","pdf","href"],inplace=True)

In [21]:
attacks.head()

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,original order
0,25-Jun-2018,2018.0,Boating,USA,California,Oceanside| San Diego County,Paddling,Julie Wolfe,F,57,No injury to occupant| outrigger canoe and pad...,N,18h00,White shark,R. Collier| GSAF,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,St. Simon Island| Glynn County,Standing,Adysonï¿½McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,K.McMurray| TrackingSharks.com,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Habush| Oahu,Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,K.McMurray| TrackingSharks.com,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,B. Myatt| GSAF,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,Tiger shark| 3m,A .Kipper,6299.0

In [22]:
#en mi caso elimino el area, locacion del suceso, nombre, invetigador y el tiempo en el que transcurrio
#ya que particularmente son datos que no me intersean para el analisis
attacks.drop(columns=["Area","Location","Name","Investigator or Source","Time"],inplace=True)

In [23]:
attacks.head()

,Date,Year,Type,Country,Activity,Sex,Age,Injury,Fatal (Y/N),Species,original order
0,25-Jun-2018,2018.0,Boating,USA,Paddling,F,57,No injury to occupant| outrigger canoe and pad...,N,White shark,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Standing,F,11,Minor injury to left thigh,N,NaN,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Tiger shark| 3m,6299.0

In [24]:
#damos un formato mas limpio a los nombres de las columnas
attacks.rename(columns={"Fatal (Y/N)":"Fatal"},inplace=True)
attacks.columns = [column.strip().capitalize().replace(' ','_') for column in list(attacks.columns)]

In [25]:
attacks.columns

Index(['Date', 'Year', 'Type', 'Country', 'Activity', 'Sex', 'Age', 'Injury',
       'Fatal', 'Species', 'Original_order'],
      dtype='object')

#### Analizis particular por columna
es la hora de analizar columna a columna en busca de estandarizar los datos y transformarlos para que sean analizables

In [26]:
#empezamos por date
#vamos a transformar los datos de Date que estan en formato string a tipo Date y los comparamos
attacks["CompareDate"] = pd.to_datetime(attacks["Date"],errors="coerce")

In [27]:
#vemos que formatos tiene 
attacks.loc[attacks["CompareDate"].isna(),"Date"].unique()

array(['Reported 30-Apr-2018', 'Reported 10-Apr-2018',
       'Reported 25-Nov-2017', 'Reported 31-Oct-2017',
       'Reported 06-Sep-2017', 'Reported 26-Jul-2017',
       'Reported 07-Jul-2017', 'Reported 07-Jun-2017',
       'Reported 06-May-2017', 'Reported 09-Mar-2017',
       'Reported 08-Jan-2017', 'Reported  14-Jul-2016',
       'Reported 08-Jul-2016', 'Reported 03-Mar-2016',
       'Reported 10-Feb-2016', 'Reported 11-Jan-2016',
       'Reported 25-Jun-2015', 'Reported 23-Dec-2014',
       'Reported 03-Dec-2014', 'Reported 17-Nov-2014',
       'Reported 12-Sep-2014', 'Reported 25-Aug-2014',
       'Reported 27-Jun-2014', 'Reported 17-Jun-2014',
       'Reported 10-May-2014', 'Reported 17-Feb-2014',
       'Reported 08-Aug-2013', 'Reported 17-Jul-2013',
       'Reported 14-Jun-2013', 'Reported 02-Apr-2013',
       'Reported 21-Mar-2013', 'Reported 21-Jan-2013',
       'Reported 11-Oct-2012', 'Reported 22-Jan-2012',
       'Reported 26-Dec-2011', 'Reported 20-Nov-2011',
       'Reported 28-Oct-2011', '16-Aug--2011', '11-Aug--2011',
       'Reported 14-Jun-2011', 'Reported 06-Jun-2011',
       'Reported 07-May-2011', 'Reported 29-Mar-2011',
       'Reported 28-Feb-2011', 'Reported 04-Feb-2011',
       'Reported 12-Jan 2011', 'Reported 03-Dec-2010',
       'Reported 27-Nov-2010', 'Reported 12-Nov-2010',
       'Reported 28-Oct-2010', 'Reported 06-Sep-2010', '190Feb-2010',
       'Reported 06-Feb-2010', 'Reported 29-Oct-2009',
       'Reported 14-Oct-2009', 'Reported 24-Jul-2009',
       'Reported 14-Jun-2009', 'Reported 25-Apr-2009',
       'Reported 17-Mar-2009', 'Reported 16-Mar-2009',
       'Reported 27-Jan-2009', 'Reported 26-Jan-2009',
       'Reported 13-Jan-2009', 'Late Jul-2008', 'Reported 26-Jun-2008',
       'Reported 02-Jun-2008', 'Reported 19-Apr-2008',
       'Reported 21-Feb-2008', 'Reported 19-Jan-2008', 'Fall 2008',
       'Summer-2008', '19-Jul-2007.b', '19-Jul-2007.a',
       'Reported 17-May-2007', 'Reported 09-May-2007',
       'Reported      13-Apr-2007', 'Reported 14-Mar-2007',
       'Reported 05-Mar-2007', 'Reported 18-Sep-2006', 'Early Aug-2006',
       'Reported      23-Apr-2006', 'Reported  28-Mar-2006',
       'Reported 28-Jan-2006', 'Reported 06-Dec-2005',
       'Reported 29-Nov-2005', 'Reported      27-Sep-2005',
       'Reported    27-Mar-2005',
       ' 19-Jul-2004 Reported to have happened  "on the weekend"',
       'Reported 15-Jan-2004 ', 'Reported 26-Jul-2003', 'Late Jul-2003',
       'Reported 06-Aug-2002', 'Reported 13-Jun-2002',
       'Reported 21-May-2002', '02-Ap-2001', 'Reported  24-Jan-2001',
       'Reported 27-Aug-2000', 'Early Jun-2000',
       'Reported      03-Mar-2000', 'Reported 28-Jan-2000',
       'Reported 16-Sep-1999', 'Reported 18-Mar-1999 ',
       'Reported 03-Jan-1999', 'Reported 20-Dec-1998',
       'Reported 16-Sep-1998', 'Reported      23-Aug-1998',
       'Reported 28-Jan-1998', 'Reported 05-Nov-1997',
       'Reported 11-Oct-1997', 'Reported      19-Feb-1996',
       'Reported 28-Oct-1995', 'Early Jul-1995', 'Reported 11-Sep-1994',
       'Reported 16-Apr-1994', 'Reported 12-Jan-1994',
       'Last incident of 1994 in Hong Kong', 'Reported      19-Aug-1993',
       'Late May 1993', 'Fall 1993', 'Reported 12-Nov-1992',
       'Reported 29-Oct-1989', 'Reported    06-Aug-1989',
       'Reported      05-Jan-1988', 'Mid Jul-1985 or mid Jul-1986',
       'Reported      10-Nov-1983', 'Late Aug-1982',
       'Reported 15-Jun-1981', 'Summer of 1981', 'Reported 22-Aug-1980',
       'Late Jul-1980', 'Early Jul-1980', 'Summer 1980', '1980s ',
       'Reported 02-Sep-1978', 'Reported 01-Aug-1978', 'Apr-1978`',
       'Reported 02-Jun-1976', '26-Jul-1975.b', 'Reported 02-Jun-1975',
       'Reported 14-Feb-1975', 'Early Feb-1974', 'Summer 1974',
       'Reported 18-Dec-1973', 'Reported 10-Sep-1973',
       'Reported 10-Oct-1972', 'Reported 26-Jun-1972',
       'Reported 25-Nov-1971', 'Reported 16-Apr-1971',
       'Reported 09-Jan-1970', '1970s', 'Late 1970s', 'Ca. 1970',
       'Reported 17-Feb-1969', 'Winter 1969', 'Reported 11-Apr-1968',
       'Reported 21-Dec-1967', 'Reported 26-Oct-1967',
       '13 or 30-May-1967', 'Early Nov-1966', 'Sep- 1966', 'Mid Aug-1966',
       'Summer of 1996', 'Summer 1965', 'Early 1965', 'May-Jun-1965',
       'Reported 17-Feb-1964', 'Reported 06-Jan-1964',
       'Reported 16-Nov-1963', 'Reported 05-Nov-1963',
       'Reported 31-Aug-1962', 'Late Aug-1962', 'Ca. 1962',
       'Reported 06-Sep-1961', 'Reported 06-Jun-1961',
       'Reported 02-Jan-1961', 'Reported 22-Aug-1960',
       'Reported 20-Apr-1960', 'Early summer 1960', 'Late 1960s', '1960s',
       '1960-1961', 'Ca. 1960', 'Reported 12-Nov-1959',
       'Between 10 and 12-Sep-1959', 'Reported 31-Aug-1959', '21764',
       'Late Jul-1959', 'Reported 26-Jun-1959', '02-Feb-1959 Reported',
       'Summer of 1959', 'Reported 07-Nov-1958', '  Reported 31-Jul-1958',
       'Reported 02-Jun-1958', 'Reported 09-Jan-1958', '1958-1959',
       'Circa 1958', 'Reported 04-Nov-1957', 'Reported 15-Dec-1956',
       'Reported 15-Aug-1956', 'Reported 26-May-1956',
       'Reported 10-Feb-1956', 'Reported 16-Jan-1956',
       'Reported 04-Aug-1955', 'Reported 13-Apr-1955', 'Ca. 1955 ',
       '19955', 'Reported 04-Jul-1954', 'Reported 02-Jul-1954',
       'Reported 26-May-1954', '1954 (same day as  1954.00.00.f)',
       'Reported 20-Sep-1953', 'Reported 03-Sep-1953',
       'Reported 19-Mar-1953', 'Reported 07-May-1952', '1952-1954',
       '\n1951.12.15.R', 'Reported 03-Sep-1951', 'Reported 02-Sep-1951',
       'Reported 16-Aug-1951', 'Between 01-Aug-1951 & 08-Aug-1951',
       'Reported 19-Jul-1951', 'Reported 19-Dec-1950',
       'Reported 27-Jul-1950', 'Reported 18-Feb-1950',
       'Reported 12-Jan-1950', '1950 - 1951', 'Summer 1950', '1950s',
       'Ca. 1950', 'Reported 10-Aug-1949', '1949-1950',
       'Reported 17-Sep-1848', 'Reported 06-Jun-1948',
       'Reported 13-Mar-1948 "Bitten last weekend', 'Summer 1948',
       'Reported 27-Jul-1947', 'Reported 24-Jul-1947',
       'Reported 13-May-1947', 'Reported 06-Feb-1947',
       'Reported 24-Dec-1946', 'Reported 26-Oct-1946',
       'Between 18 & 22-Dec 1944', 'Reported 23-Oct-1944', '22-Jul-144',
       'Reported 01-May-1943', 'Summer 1943', 'Fall 1943',
       '11-Sep-1942 to 16-Sep-1942', 'Winter 1942', 'Summer 1942',
       'Reported 21-Aug-1941', 'Reported 19-Dec-1940', 'Ca. 1940',
       'Reported 25-Oct-1939', 'Reported 27-Sep-1939', 'Ca. 1939',
       'Reported 21-Mar-1938', 'Reported 1938', 'Reported 26-Sep-t937',
       'Reported 16-Jul-1937', 'Reported 04-Aug-1936', '08-Ap-1936',
       'Reported 20-Feb-1936', 'Reported 04-Sep-1935',
       'Reported 05-Jun-1935', 'Reported 08-Apr-1935',
       'Reported 25-Mar-1935', 'Reported 26-Aug-1934',
       'Reported 08-Feb-1934', 'Reported 25-Oct-1933',
       'Reported 27-Sep-1933', 'Reported 26-Aug-1933',
       'Reported 07-Jul-1933', 'Reported 08-Jun-1933',
       'Reported 15-Feb-1933', 'Reported 09-Dec-1932',
       'Reported 26-Sep-1932', 'Reported 14-Jul-1932',
       'Reported 06-Aug-1931', 'Reported 28-Jul-1931',
       'Reported 04-Jun-1931', 'Reported 27-Apr-1931',
       'Reported 26-Sep-1930', 'Reported 11-May-1930',
       'Reported 07-Mar-1930', 'Reported 03-Feb-1930',
       'Reported 03-Dec-1929', 'Reported 17-Jul-1929',
       'Reported 26-Apr-1929', 'Reported 17-Apr-1929', 'Reported 1929',
       'Ca. 1929', 'Reported 24-Aug-1928', 'Late Jul-1928',
       'Reported 24-Jun-1928', 'Reported 14-Apr-1928',
       'Some time between 08-Jan-1928 & 21-Jan-1928',
       'Reported 09-May 1927', 'Reported 08-Jan-1927',
       'Reported 02-Dec-1926', 'Reported 29-Oct-1926',
       'Reported 06-Sep-1926', '07-Mar-1925 or 27-Mar-1925',
       'Reported 27-Jan-1925', 'Reported 31-Oct-1924',
       'Reported 28-Mar-1924', 'Reported 02-Jul-1923',
       'Reported 23-May-1923', '1923-1924', 'Reported 26-Sep-1922',
       'Reported 21-Sep-1922', 'Reported 02-Feb-1922',
       'Reported 28-Jan-1922', 'Reported 06-Jul-1920',
       'Reported 24-Jan-1920', '1920s', 'Reported 30-Dec-1919',
       'Reported to have taken place in 1919', 'Reported 25-Apr-1916',
       'Reported 09-Dec-1915', 'Reported 06-Jul-1915',
       'Reported 15-May-1915', 'Ca. 1915', 'Reported 04-Dec-1914',
       'Reported 26-Sep-1914', 'Reported 15-Jul-1914',
       'Reported 09-Jul-1914', 'Reported 14-Mar-1914',
       'Reported 10-Mar-1914', 'Reported 09-Feb-1914',
       'Reported 17-Jan-1914', 'Reported 30-Dec-1913',
       'Reported 10-Jul-1913', 'Reported 30-Nov-1912',
       'Reported 06-Jul-1912', 'Reported 13-Jan-1912',
       'Reported 31-Jul-1911', 'Reported 16-Jul-1911',
       'Reported 01-May-1911', 'Reported 29-Mar-1911', 'Ca. 1911',
       'Reported 25-Dec-1910', 'Reported 23-Dec-1910',
       'Reported 25-Jun-1910', 'Reported 16-May-1910',
       'Reported 26-Nov-1909', 'Reported 15-Dec-1909',
       'Reported 04-Sep-1909', 'Reported 26-Jun-1909',
       'Reported 27-Apr-1909', 'Reported 09-Apr-1909',
       'Reported 16-Dec-1908', 'Reported 28-Aug-1908',
       'Reported 08-Jul-1908', 'Reported 02-Jun-1908',
       'Reported 18-Oct-1907', 'Reported 16-Oct-1907',
       'Reported 19-Sep-1907', 'Reported 12-Aug-1907',
       'Reported 08-Aug-1907', 'Reported 14-Jul-1907',
       'Reported 04-Jul-1907', 'Reported 10-Oct-1906',
       'Reported 27-Sep-1906', 'Reported 05-Sep-1906',
       'Reported 05-Jul-1906', 'Reported 27-Apr-1906',
       'Reported 10-April 1906', 'Reported 02-April 1906',
       'Reported 14-Feb-1906', 'Reported 06-Sep-1905', 'Late Aug-1905',
       'Reported 25-Jul-1905', 'Reported 11-Oct-1904',
       'Reported 01-Jul-1904', 'Reported 16-Sep-1903',
       'Reported 20-Mar-1903', 'Ca. 1903', 'Reported 22-Dec-1902',
       'Reported 01-Nov-1902', 'Reported 29-Aug-1902',
       'Reported 24-Aug-1902', '.Reported 22-Feb-1902',
       'Reported 25-Jan-1902', 'Reported 19-Jan-1902', 'Mid Oct-1901',
       'Reported 23-Sep-1901', 'Summer 1901', 'Late Jul-1900',
       'Early 1900s', 'Ca. 1900', 'Reported 12-Oct-1899',
       'Reported 11-Sep-1899', 'Reported 23-Aug-1899',
       'Reported 04-May-1899', '1899 During the Seige of Ladysmith',
       'Ca. 1899', 'Reported 28-Dec-1898', 'Reported 26-Jul-1898',
       '1898 (soon after the close of the Spanish-American War)',
       '1898-1899', 'Summer of 1898', 'Reported 04-Dec-1897',
       'Reported 05-Oct-1897', 'Reported 15-Mar-1897', '23-Decp1896',
       'Reported 17-Dec-1896', 'Reported 21-Jun-1896',
       'Reported 21-Nov-1895', 'Reported 14-Sep-1895',
       'Reported 03-Jun-1895', 'Reported 29-Mar-1895',
       'Reported 23-Feb-1895', 'Reported 06-Oct-1894',
       'Reported 12-Sep-1894', 'Reported 06-Sep-1894',
       'Reported 01-Sep-1894', 'Reportd 15-Jul-1894',
       'Reported 15-Jun-1894', 'Reported 28-Apr-1894',
       'Reported 20-Oct-1893', 'Reported 22-Jun-1893',
       'Reported 23-May-1893', 'Reported 30-Jan-1893',
       'Reported 18-Jan-1893', 'Reported 09-Nov-1892',
       'Reported 16-Sep-1892', 'Reported 20-Jun-1892',
       'Reported 19-May-1892', 'Reported 21-Apr-1892',
       'Reported 31-Dec-1891', 'Reported 22-Dec-1891',
       'Reported 30-Aug-1891', 'Reported 08-Jan-1891',
       'Reported 27-Dec-1890', 'Reported 17-Aug-1890',
       'Reported 02-Jun-1890', 'Ca. 1890', 'Reported 03-Oct-1889',
       'Reported 31-Jan-1889', 'Reported 25-Dec-1888',
       'Reported 13-Jul-1888', 'Reported 18-Jun-1888',
       'Reported 22-Dec-1887', 'Reported 08-Feb-1887', 'Mid-Aug-1886',
       'Reported 06-Mar-1886', 'Reported 26-Nov-1885',
       'Reported 08-Dec-1884', 'Reported 28-Aug-1884',
       'Reported 28-Apr-1884', 'Reported 18-Dec-1883',
       'Reported 20-Oct-1883', 'Reported 19-Oct-1883',
       'Reported 14-Sep-1883 (probably happened Ca. 1843/1844)',
       'Reported 26-Feb-1883', 'Reported 25-Feb-1883', 'Summer of 1883',
       'Reported 23-Jan-1882', 'Reported 16-Aug-1881', 'Ca. 1881',
       'Reported 07-May-1880', 'Ca. 1880', 'Reported 30-Aug-1879',
       'Reported 24-Oct-1878', 'Reported 14-Sep-1878',
       'Reported 17-Feb-1877', 'Reported 24-Jan-1877', 'Before 1878',
       'Reported 13-Oct-1876', 'Reported 07-Sep-1876',
       'Reported 04-Jun-1876', 'Reported 27-Nov-1875',
       'Reported 20-Jan-1875', 'Ca. mid-1870s', 'Reported 15-Jul-1874',
       'Reported 18-Jun- 1874', 'Reported 15-Jun-1874',
       'Reported 20-Apr-1874', '09-Jan- 1874', 'Reported 09-Jun-1873',
       'Reported 09-Jan-1873', 'Nov- or Dec-1873', 'Reported 07-Aug-1872',
       'Reported 03-Apr-1872', 'Circa 1872', 'Reported 11-Dec-1871',
       'Reported 29-Aug-1871', 'Reported 22-May-1871', 'Before 1871',
       'Reported 26-May-1870', 'Early 1870s', 'Reported 15-Apr-1869',
       'Reported 04-Jan-1868',
       'Reported 24-Oct-1888| but took place around 1868', '1868 (?)',
       'Reported 22-Aug-1867', 'Reported 09-Jul-1866',
       'Reported 24-Apr-1866', 'Reported 14-Jul-1865',
       'Reported 01-Mar-1865', 'Reported 18-Sep-1864',
       'Reported 27-Jan-1864', 'Reported 16-Jan-1864',
       'Reported 13-Sep-1863', 'Reported 09-Jul-1863', 'Reported 1863',
       'Reported 19-Dec-1862', 'Reported 15-Aug-1862',
       'Reported 02-Aug-1862', 'Circa 1862', 'Reported 25-Sep-1861',
       'Reported 12-Feb-1861', 'Reported 15-Jan-1861',
       'Reported 14-Jan 1858', 'Reported 09-Jan-1858',
       'Reported 21-Jun-1856', 'Reported 09-Apr-1855',
       'Reported 12-Feb-1855', 'Circa 1855', 'Reported 13-Jul-1853',
       'Sep or Oct-1853', '1853 or 1854', 'Reported 23-Oct-1852',
       'Reported 09-Oct-1852', '"Anniversary Day" 22-Jan-1850 or 1852',
       'Reported 16-Jun-1851', 'Reported 17-Jul-1848',
       'Reported 03-Jul-1847', 'Ca. 1847', 'Reported 20-Aug-1846',
       'Reported 10-Sep-1845', 'Reported 31-Jul-1845', '1844.07.16.R',
       'Reported 18-Sep-1840', 'Reported 22-Jul-1840', '1839/1840',
       'Ca. 1839', 'Ca. 1837', 'Reported 19-Aug-1836',
       'Reported 21-Feb-1835', 'Reported 15-Jul-1834',
       'Reported 23-Jan-1832', 'Reported 22- Jan-1831',
       'Reported 02-Jul-1830', 'Ca. Nov-1826', 'Reported 20-May-1826',
       '1820s', 'Ca . 1825', 'Reported 03-Sept-1816',
       'Reported 25-Dec-1808', 'Reported 26-Sep-1785',
       'Reported 12-Jul-1771', 'Reported 27-Oct-1753',
       'Reported 06-Apr-1738', '1700s', '1642', '1595', 'Ca. 1543',
       'Ca. 5 A.D.', 'Ca. 336.B.C..', '493 B.C.', 'Ca. 725 B.C.',
       'Before 1939', '1990 or 1991', 'Before 2016', 'Before Oct-2009',
       'Before 1934', '2009?', 'Before 1930', '1880-1899', 'Before 1909',
       'Before 2012', 'Before 1908', 'Before 2011', 'Before 2009',
       'Beforer 1994', '1896-1913', 'Before 08-Jun-1912', 'Before 1901',
       'No date| late 1960s', 'Before 2006', 'Before 2003', 'Before 2004',
       'Before 1962', 'No date| Before 1963', '2003?', 'No date',
       'Before Feb-1998', 'No date| Before May-1996',
       'No date| Before Mar-1995', 'Before 1996',
       'No date| Before Aug-1989', 'No date| Before Aug-1987',
       'No date| Before 1987', 'No date| Before  1975',
       'No date| Before 1975', 'No date| Before 1969',
       'No date| Before 3-Jan-1967', 'No date| Before 8-May-1965',
       'No date| Before 1902',
       'No date| After August 1926 and before 1936', 'Before 1961',
       'Before 1960', 'Before  19-Jun-1959', 'Before  24 Apr-1959',
       'Before  1958', 'Before 1958', 'Before 1957', 'Before 1956',
       'Before Mar-1956', 'Before 1952', '"During the war" 1943-1945',
       '"Before the war"', 'Said to be 1941-1945| more likely 1945',
       '1941-1945', '1941-1942', '1940 - 1950', 'World War II',
       'A few years before 1938', 'Early 1930s', '1920 -1923',
       'Before 1921', 'Before 1911', 'Before 17-Jul-1916',
       'No date (3 days after preceding incident) & prior to 19-Jul-1913',
       'Before 19-Jul-1913', 'Before 1906', 'Before 1903', '1900-1905',
       '1845-1853'], dtype=object)

In [28]:
#mucho de los datos comienzan con Reported aplicamos una exprecion regular para cambiar re
attacks["Date"].replace(r'(?i)Reported\s+',"",regex=True,inplace=True)

In [29]:
attacks["CompareDate"] = pd.to_datetime(attacks["Date"],errors="coerce")

In [30]:
#logramos pasar una gran cantidad de fechas que estaban en un formato disfuncional
attacks["CompareDate"].isna().sum()*100/attacks.shape[0]

4.221995233231188

In [31]:
#en mi caso voy a eliminar las filas que tengan Fechas muy dificiles de transformar ya que representan
#un porcnetaje muy bajo del dataFrame y seria imporductivo seguir intentando rescatar fechas
#ya que quedan fechas con informacion dudosa

attacks = attacks.loc[~attacks["CompareDate"].isna(),:]

In [32]:
attacks["Date"] =  attacks["CompareDate"]
attacks.drop(axis=1,columns="CompareDate",inplace=True)

/tmp/ipykernel_9219/2365617412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks["Date"] =  attacks["CompareDate"]
/tmp/ipykernel_9219/2365617412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  attacks.drop(axis=1,columns="CompareDate",inplace=True)

In [33]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5626 entries, 0 to 6160
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            5626 non-null   datetime64[ns]
 1   Year            5624 non-null   float64
 2   Type            5625 non-null   object
 3   Country         5616 non-null   object
 4   Activity        5308 non-null   object
 5   Sex             5301 non-null   object
 6   Age             3408 non-null   object
 7   Injury          5618 non-null   object
 8   Fatal           5198 non-null   object
 9   Species         3245 non-null   object
 10  Original_order  5626 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 527.4+ KB

In [34]:
attacks

,Date,Year,Type,Country,Activity,Sex,Age,Injury,Fatal,Species,Original_order
0,2018-06-25,2018.0,Boating,USA,Paddling,F,57,No injury to occupant| outrigger canoe and pad...,N,White shark,6303.0
1,2018-06-18,2018.0,Unprovoked,USA,Standing,F,11,Minor injury to left thigh,N,NaN,6302.0
2,2018-06-09,2018.0,Invalid,USA,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,6301.0
3,2018-06-08,2018.0,Unprovoked,AUSTRALIA,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,6300.0
4,2018-06-04,2018.0,Provoked,MEXICO,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,Tiger shark| 3m,6299.0
...,...,...,...,...,...,...,...,...,...,...,...
6152,1749-01-01,1749.0,Unprovoked,CUBA,Swimming,M,14,Right leg severed at knee. In 1796 he became ...,N,NaN,151.0
6154,1748-01-01,1748.0,Unprovoked,PANAMA,Pearl diving,M,NaN,FATAL,Y,NaN,149.0
6156,1738-04-06,1738.0,Unprovoked,ITALY,Swimming,M,NaN,FATAL,Y,NaN,147.0
6159,1721-06-01,1721.0,Unprovoked,ITALY,Swimming,M,NaN,FATAL| partial remains recovered from sharkï¿...,Y,White shark| 1600-lb female,144.0
6160,1703-03-26,1703.0,Unprovoked,BARBADOS,Swimming,M,19,Hand and foot severely bitten| surgically ampu...,N,NaN,143.0

#### Columna year

In [40]:
attacks.Year.dtype

dtype('float64')

In [47]:
#son datos de tipo float y no sabemos si los datos se corresponden al año de nuestra columna Date
attacks["Year"] = [date.year for date in list(attacks["Date"])]

[2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2018,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2017,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2016,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2015,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2014,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2014,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2013,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2013,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2012,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2008,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2011,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 2010,
 ...]